.product-container {
 	margin-left: 25%;
    outline-color: black;
    outline-style: solid;
    width: 50%;
}

.header {
	text-align: center;
	color: red;
}

.blur {
	opacity: 0.5;
}

.show-product-container {
	float:left;
	width: 28%;
	margin-left:10px;
    cursor: pointer;
}

.blinking{
    animation:blinkingText 2.5s infinite;
    font-size:30px;
    color:blue;
    text-align:center;
}
@keyframes blinkingText{
    0%{     color: #0000ff;    }
    49%{    color: #0000ff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #0000ff;    }
}
