<div class="product-container">
	<h1 class="header"> Products </h1>
	<div class="blinking">Click on product to select</div>
	<div class="show-product-container" *ngFor="let product of products" [ngClass]="product.inStock == false ? 'blur' : ''" (click)="productSelected(product)">
        <img src="{{baseUrl}}{{productImagePath}}{{product.productImage}}" style="width:150px; height:100px">
        <div>
        	<h2 style="margin-top:0px;">{{product.name}} <b> - Rs. {{product.amount}}</b></h2>
        </div>
    </div>
</div>
