<div class="amount-container">
	<div><button (click)="backToProducts()">Back to products</button></div>
	<div><h3>{{selectedProduct.name}} - Rs {{selectedProduct.amount}}</h3> </div>
	<h1>Please insert Exact Change:</h1>
	<input type="text" placeholder="Enter amount..." [(ngModel)]="enteredAmount">
	<div><button (click)="buyProduct()">Buy</button></div>
</div>

